* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: auto;
}

header {
    padding-top: 30px;
    background-color: #24282f;
    text-transform: uppercase;
}

header .container:after {
    content: "";
    clear: both;
    display: block;
}

header nav {
    float: right;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header nav li a {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 0 15px 32px;
}

header nav li:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #b5a263;
    opacity: 0;
    transition: 1.3s;
}

header nav li:hover:after {
    opacity: 1;
}

.after_header_section_background {
    background: url('../img/after_header_section_background_02.png');
}

.after_header_section_background .container {
    padding: 70px 0;
    color: white;
}

.after_header_section_background .container h1 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.after_header_section_background .container p {
    max-width: 630px;
    font-size: 11px;
    line-height: 16px;
}

.main_section {
    padding-top: 120px;
    padding-bottom: 20px;
}
.main_section h2{
    text-align: center;
    text-transform: uppercase;
}

.main_section h2:after{
    content: "";
    display: block;
    background-color: #b5a263;
    height: 3px;
    width: 60px;
    margin: auto;
    margin-top: 20px;
}
